<%- include('./_header'); %>
<div class="page-header" >
<ul class="breadcrumb">
    <li><a href="/">Dashboard</a></li>
    <li>home</li>
  </ul>
<h3 class="mt-0 p-3 pt-0" >Admin Dashboard</h3>
</div>


<%- include('./_footer'); %>