body {
    background-image: url(../images/bg.jpg)
}



.page-header {
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 2pc;
    height: 100px;
}
nav {
     border-radius: 15px;
    margin-top: 20px;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 992px) {
    nav {
        margin-bottom: 5px !important;
        margin: auto !important;
        border-radius: 0px;
        margin-bottom: 20px !important;
    }
    
}
/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
   
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    padding-bottom: 0 !important;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
